/Tutorial.aux
/Tutorial.dvi
/Tutorial.log
/JavaDocs.aux
/JavaDocs.dvi
/JavaDocs.log
/JavaDocs.ps
/JavaDocs.toc
/*.idx

/misc
/images/misc
/images/read.me
/update-javadocs*.bat

/images/FieldScheme.pdn
/images/FieldScheme-*.pdn

/images/*-RAW.pdn
/images/*-RAW.png
/images/*-1024x768.pdn
/images/*-1024x768.png
/images/*.eps
